<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	
	<!-- 글쓰기 -->
	<insert id="boardWrite" parameterType="java.util.Map">
	
		<selectKey resultType="int" keyProperty="ref" order="BEFORE">
			select MAX(seq)+1 FROM board
		</selectKey>
	
		insert into board(id,name,email,subject,content,ref) 
				    values(
				    	  #{id}
				    	, #{name}
				    	, #{email}
				    	, #{subject}
				    	, #{content}
				    	, #{ref}
				    	)
	</insert>
	
	<!-- 목록 -->
	<select id="boardList" parameterType="java.util.Map" resultType="board.bean.BoardDTO">
		<!-- select * from
		(select rownum rn, tt.* from 
		(select * from board order by ref desc, step asc)tt
		) where rn>=#{startNum} and rn &lt;= #{endNum} -->
		
		<!-- select * from
		(select rownum rn, tt.* from 
		(select * from board order by ref desc, step asc)tt
		) where rn between #{startNum} and #{endNum} -->
		
		<!-- <![CDATA[
		select * from
		(select rownum rn, tt.* from 
		(select * from board order by ref desc, step asc)tt
		) where rn >= #{startNum} and rn <= #{endNum}
		 ]]> -->
		 
		 <!-- MySQL -->
		 <![CDATA[
			SELECT tt.* FROM (SELECT * FROM board ORDER BY seq DESC, step ASC) tt LIMIT #{startNum}, #{endNum}
		 ]]>
		 
	</select>
	
	<!-- 총글수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from board
	</select>
	
	<!-- 1개의 글보기 -->
	<select id="getBoard" parameterType="int" resultType="board">
		select * from board where seq=#{seq}
	</select>
	
	<!-- 답글 -->
	<update id="boardReplyStep" parameterType="board">
		update board set step=step+1 where ref = #{ref} and step > #{step}
	</update>
	
	<insert id="boardReply" parameterType="java.util.Map">
		insert into board values(
						    	  #{id}
						    	, #{name}
						    	, #{email}
						    	, #{subject}
						    	, #{content}
						    	, #{ref}
						    	, #{lev}
						    	, #{step}
						    	, #{pseq}
						    	, 0 <!-- reply(답글수) -->
						    	, 0 <!-- hit(조회수) -->
						    	, now())
	</insert>
	<update id="boardReplyReply" parameterType="int">
		update board set reply=reply+1 where seq=#{pseq}
	</update>
	
	<!-- 게시글 수정 -->
	<update id="boardUpdae" parameterType="java.util.Map">
		update board set subject=#{subject},content=#{content} where seq=#{seq}
	</update>
	
	<!-- 글삭제 -->
	<delete id="boardDelete" parameterType="int">
		
		
			UPDATE BOARD SET reply=reply-1 WHERE SEQ=(SELECT pseq FROM board WHERE seq=#{seq})
			
			UPDATE BOARD SET SUBJECT = CONCAT('[원글이 삭제된 답글]', SUBJECT) WHERE pseq=#{seq}
			
			DELETE FROM BOARD WHERE seq=#{seq}
	
		
			
			
	</delete>
	
	
</mapper> 










