<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="memberSQL">
	
	<select id="isExistId" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	
	<select id="memberById" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	
	<insert id="write" parameterType="member">
		insert into member values(
					#{name}
					, #{id}
					, #{pwd}
					, #{gender}
					, #{email1}
					, #{email2}
					, #{tel1}
					, #{tel2}
					, #{tel3}
					, #{zipcode}
					, #{addr1}
					, #{addr2}
					, now())
	</insert>
	
	<select id="login" parameterType="map" resultType="member">
		select * from member where id=#{id} and pwd=#{pwd}
	</select>
	
	<update id="updateMember" parameterType="member">
		update member set name=#{name}
						, pwd = #{pwd}
						, gender = #{gender}
						, email1 = #{email1}
						, email2 = #{email2}
						, tel1 = #{tel1}
						, tel2 = #{tel2}
						, tel3 = #{tel3}
						, zipcode = #{zipcode}
						, addr1 = #{addr1}
						, addr2 = #{addr2}
						where id = #{id}
	</update>
	
</mapper>